*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.area{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.cards{
    display: flex;
    flex-wrap: wrap;
}


main.cards section.card a{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 90%;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}
main.cards section.card a:hover{
    color: #000;
}

section{
    margin-left: 32px;
}

main.cards section.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border-width: 1px;
    border-color: #FFF0F0 ;
    max-height: 256px;

    margin-top: 32px;
}

.img-fluid{
	max-height: 277px;
}

main.cards section.card .icon{
    width: 150px;
    height: 150px;
}


.main_image_area{
    width: 350px;
    height: 350px;
}

main.cards section.card img{
    width: 100%;
}

main.cards section.card.card_hotel a{
    background: linear-gradient(to right, #FE5F8F, #FFC7D9);    
}
main.cards section.card.card_parque a{
    background: linear-gradient(to right, #8f379f, #fea7ff);    
}
main.cards section.card.card_restaurante a{
    background: linear-gradient(to right, #e94650, #f59aa0);    
}

main.cards section.card.card_hotel{
    box-shadow: 5px 5px 40px 5px #FFC7D9;    
}
main.cards section.card.card_parque{
    box-shadow: 5px 5px 40px 5px #fea7ff;    
}
main.cards section.card.card_restaurante{
    box-shadow: 5px 5px 40px 5px #f59aa0;    
}

main.cards section.card.card_hotel:hover{
    box-shadow: 20px 20px 40px 10px #FE5F8F;    
}
main.cards section.card.card_parque:hover{
    box-shadow: 20px 20px 40px 10px #8f379f;    
}
main.cards section.card.card_restaurante:hover{
    box-shadow: 20px 20px 40px 10px #e94650;    
}

.bg-pal1{
    background: #A11626;
}

.separation-line{
    height: 2px;
}

.pos-absolute-et{
    position:absolute;
    right:18px;
    top:1px;
}

.pos-absolute-sb{
    position:absolute;
    left:18px;
    bottom:1px;
}

.pos-absolute-eb{
    position:absolute;
    right:18px;
    bottom:1px;
}

.col-sm-4{

    min-width: 200px;
    min-height: 200px;
}
.parent-position{
    position: absolute;
}

.img-hotel{
    width: 200px;
    height: 180px;
}

.ctn-vh{
    height: 100vh;
}

.row-vh{
    height: 30vh;
}

.desc-hot{
    min-height: 108px;
}

.btn-paleta1{
    background: #751422;
}

.btn-paleta2{
    background: #A11626;
}

.bg-paleta5{
    background-color: #FFFCFC;
}



.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 10px;
    background-color: white;
    display: none;
    overflow: hidden;

  }

.btn:hover{
    color: #FFF;
}

.btn-round{
    border-radius: 20px;
}




@media (max-width: 992px) {



    section{
        margin-left: 0px;
    }
 
    .main_image_area{
        display: none;
    }

    .row {
    display: inline;
}

    .col-6{
        width: 100%;
    }
    .mt-2{
        width: 100% !important;
    }

    .g-start-1{
        padding-top: 40px;
    }

    .col, .ms-4 {
        margin-left: 5px !important;
    }
}

#map{
    height: 400px;
    width: 100%;
}